
// <!-- Start of input test -->

.input-field {
  color: white;
  margin-top: 200px;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  min-height: 64px;
  height: 4em;
  background: black;
}

.input-field-no-bounce {
  color: white;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  background: black;
}

// <!-- End of input test-->