<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<!-- <ion-content [fullscreen]="true"> -->

<!-- Start of input test -->

  <ion-content>
    <div class="home-page-container">
      <div class="content">
        <div class="input-container">
          <ion-input inputmode="decimal" placeholder="Please enter the address" class="input-field"></ion-input>
        </div>
      </div>
    </div>
  </ion-content>

<!-- End of input test-->
